#counselorPage{

.counselorItem{
    @include grid-row();
    margin: 15px;
}

.counselorPic{
    @include grid-column(4);
}

.counselorInfo{
    @include grid-column(8);

    h2{
        margin-top: 0px;
    }
}

img{
    width: 200px;
}

h1{
    @include grid-column(12);
    margin-left: 10px;;
}

}