#add, #manage, #remove, #addCamper{
        
        padding: 8px 16px;
        margin: 5px 10px;
         background-color:$orange-color;
        text-align:center;
        border-radius: $radius-default;
        border: 3px solid $gray-color;
        color: $creme-color;
        font-family: $primary-font;
        width: 75%;
        display: block;

         @include breakpoint(1100px){
            width: 25%;
         }
}

#setNumber, #setId, #newCamper, #campWeek{
    
    width: 75%;
    padding: 8px 16px;
    margin-top: 5%;
    margin-left: 10px;
    font-family: $secondary-font;

    @include breakpoint(1100px){
    width: 25%;
    }
    
}


#add:hover, #manage:hover, #remove:hover, #addCamper:hover{
            background-color: $green-color;
             color: white;
    }

    #newCamper{
        display: block;
       
    }

   