.detailHead{
    @include grid-row();
    margin: 10px auto;
}

.stats{
    @include grid-column(6);
    
}

.picSec{
    @include grid-column(6);
    padding: 0;
    margin: 10px 0;

    img{
        width: 400px;
    }
}

.basicData{
    text-align: center;
    margin: 10px;

    p{
        font-size: 1.5em;
        margin: 2px auto;
    }
}

.invData{

    border-radius: $radius-default;
    border: 2px solid $gray-color;
    color: $blue-color;
    background-color: $creme-color;
    padding: 5px;

    p{
        margin: 0 auto;
        }
    }

    .admin{

        .manage, .check{
            padding: 8px 16px;
            margin: 10px 10px;
            background-color:$orange-color;
            text-align:center;
            border-radius: $radius-default;
            border: 3px solid $gray-color;
            color: $creme-color;
            font-family: $primary-font;
            width: 45%;
        }
    }

.backResult, .parts, .instructions{
            padding: 2px 4px;
            margin: 10px 10px;
            background-color:$orange-color;
            text-align:center;
            border-radius: $radius-default;
            border: 1px solid $gray-color;
            color: $creme-color;
            font-family: $primary-font;
            width: 25%;

}

.manage:hover, .check:hover,.backResult:hover, .parts:hover, .instructions:hover {
        background-color: $green-color;
        color: white;
    }

    a{
        text-decoration: none;
        color: $creme-color;
    }