.detailHead{
    @include grid-row();
    margin: 10px auto;
}

.stats{

    @include grid-column(12);

    @include breakpoint(900px){

    @include grid-column(6);
    }
    
}

.picSec{
    @include grid-column(12);
    padding: 0;
    margin-left: 20%; 
    margin-right: 20%; 
   
  

    img{
        width: 400px;
         margin-bottom: 10px;
    }

    @include breakpoint(900px){
        
    @include grid-column(6);
        width: 300px;
        margin-left: 10px;
        margin-right: 10px;
  
    }
}

.basicData{
    text-align: center;
    margin: 10px;

    p{
        font-size: 1.5em;
        margin: 2px auto;
    }
}

.invData{

    border-radius: $radius-default;
    border: 2px solid $gray-color;
    color: $blue-color;
    background-color: $creme-color;
    padding: 5px;

    .updateSet{
            padding: 2px 4px;
            margin: 10px 10px;
            background-color:$orange-color;
            text-align:center;
            border-radius: $radius-default;
            border: 1px solid $gray-color;
            color: $creme-color;
            font-family: $primary-font;
            width: 50%;
    }

    p{
        margin: 0 auto;
        }
    }

    .admin{

        .check{
            padding: 8px 16px;
            margin: 10px auto;
            background-color:$orange-color;
            text-align:center;
            border-radius: $radius-default;
            border: 3px solid $gray-color;
            color: $creme-color;
            font-family: $primary-font;
            float: right;
            width: 45%;
        }

        #camperList{
            width: 45%;
            margin-top: 10px;
            padding: 10px;
        }
    }

.backResult, .parts,{
            padding: 2px 4px;
            margin: 10px 10px;
            background-color:$orange-color;
            text-align:center;
            border-radius: $radius-default;
            border: 1px solid $gray-color;
            color: $creme-color;
            font-family: $primary-font;
            width: 50%;
           
           @include breakpoint(900px){
            width: 30%;
            margin: 20px 10px;
           }

}

.instructions{
            padding: 2px 4px;
            margin: 10px 10px;
            background-color:$orange-color;
            text-align:center;
            border-radius: $radius-default;
            border: 1px solid $gray-color;
            color: $creme-color;
            font-family: $primary-font;
            width: 50%;
           
           @include breakpoint(900px){
            width: 50%;
           }
}

.check:hover,.backResult:hover, .parts:hover, .instructions:hover {
        background-color: $green-color;
        color: white;
    }

    a{
        text-decoration: none;
        color: $creme-color;
    }