
$blue-color: #22557C;
$green-color: #157C2B;
$orange-color: #B75321;
$creme-color: #BAB9A5;
$gray-color: #5A5353;

$primary-font: 'Fredoka One', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

$radius-default: 5px;

