#all, #search{
    
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20%;
        padding: 8px 16px;
        background-color: $orange-color;
        text-align: center;
        border-radius: $radius-default;
        border: 3px solid $gray-color;
        color: $creme-color;
        font-family: $primary-font;
        display: inline-block;
};

#all:hover, #search:hover {
             background-color: $green-color;
             color: white;
};

#inputs{
    @include grid-row();
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid $orange-color;
    padding: 10px;
    border-radius: $radius-default;
    
    
     p{
            margin: 0;
        }

    #searchBox{
        @include grid-column(4);
    }

    #searchDropOne{
        @include grid-column(4);

    }

    #searchDropTwo{
         @include grid-column(4);
    }
}

select{
    width: 75%;
};

#searchResults h1{
    text-align: center;
    border-radius: $radius-default;
    background-color: $orange-color;
    width: 95%;
    margin: 10px auto;
}

#results{
    list-style: none;
    padding-left: 0;
    
}

.oneSet{
    @include grid-row();
    margin: 0px 10px;
    border: 3px solid $orange-color;
    border-radius: $radius-default;
}

.words{
    @include grid-column(8);
    text-align: center;
    color: $creme-color;
    margin-top: 20px;
    margin-bottom: 10px;

    h2 a{
        padding: 8px 16px;
        text-decoration: none;
        background-color:$green-color;
        text-align:center;
        border-radius: $radius-default;
        border: 3px solid $gray-color;
        color: $creme-color;
    }

    h2 a:hover {
        background-color: $orange-color;
        color: white;
    }

    h2{

        margin: 10px;;
    }

    p{
        font-size: 1.25em;
        margin: 0;
    }
}

.pic{
    @include grid-column(4);
    margin: 10px;
    width: 200px;

}

.color-green{
    color: $green-color;
    font-size: 1.75em;
}