#all, #search{

   
        // width: 40%;
        margin-top: 15px;
        padding: 8px 16px;
        // margin-left: 10%;
        // margin-right: 10%;
         background-color:$orange-color;
        text-align:center;
        border-radius: $radius-default;
        border: 3px solid $gray-color;
        color: $creme-color;
        font-family: $primary-font;
        // display: block;

};

#all:hover, #search:hover {
             background-color: $green-color;
             color: white;
};

select{
    width: 25%;
};

#searchResults h1{
    text-align: center;
}

#results{
    list-style: none;
    padding-left: 0;
    
}

.oneSet{
    @include grid-row();
    margin: 0px 10px;
    border: 3px solid $orange-color;
}

.words{
    @include grid-column(8);
    vertical-align: middle;

    p, h2{
        margin: 0;
    }
}

.pic{
    @include grid-column(4);
    margin: 10px;
    width: 200px;

}