#partsPage{
    @include grid-row();
}


#partHeader{
    margin-bottom: 10px;
    @include grid-column(12);
    text-align: center;

        h1{
            margin:0;
        }

        h3{
            margin: 0;
        }
    
    }

.onePart{
    @include grid-column(6);
    padding: 10px;
    word-wrap: break-word;
}

#partList{
    
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
}


.partPic{
    width: 120px;
    vertical-align: top;
    display: inline-block;
}

.partInfo{
    display: inline-block;
    margin-left: 5px;


    p{
        margin: 0;
        
    }
}

.num{
    width: 40px;
}



