#partsPage{
    @include grid-row();
}


#partHeader{
    margin-bottom: 10px;
    @include grid-column(12);
    text-align: center;

        h1{
            margin:0;
        }

        h3{
            margin: 0;
        }
    
    }

.onePart{
    @include grid-column(6);
    padding: 10px;
    border: 1px solid $creme-color;
    border-radius: $radius-default;
}

#partList{
    
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    
}

.partDisplay{
    @include grid-row();

}

.partBoxes{
    @include grid-column(1.5);

    p{
        
        background-color: $creme-color;
        color: $gray-color;
        text-align: center;
    }
}

.partPic{
   @include grid-column(4);
    width: 150px;
    vertical-align: top;
    display: inline-block;
}

.partInfo{
    @include grid-column(6.5);
    display: inline-block;
 


    p{
        margin: 0;
          
    }
}

.num{
    width: 40px;
}

.partName{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }



