/*we use ../ because we created a folder for scss.  need to go up a directory*/

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

@import 'globals';
@import 'home';
@import 'admin';
@import 'ourSets';
@import 'register';
@import 'details';
@import 'parts';
@import 'about';
@import 'account';
@import 'parties';

body{

    margin-left: 5%;
     background-color: $creme-color;;
    color: $green-color;
    font-family: $primary-font;
    margin-right: 5%;
    border-radius: $radius-default;
    margin-top: 2%;

    @include breakpoint(1000px){

    margin-left:22%;
    
    }
    
}

main{

    padding: 25px 10px;
    background-color:$blue-color;
    height: 100%;
    color: $creme-color;
    border-radius: $radius-default;
    margin-left: 25px;
    width: 95%;
     @include grid-row();
     border: 5px solid $gray-color;

}

#nav{

    list-style: none;
     width: 100%;
    margin: 10px;
    padding:5px;
     border-radius: $radius-default;
     border: 5px solid $blue-color;
     background-color: $blue-color;

     img{
         display: none;

          @include breakpoint(1000px){
                display:block;
                border-radius: $radius-default;
                width: 90%;
                margin: 0 10px;
                border: 5px solid $gray-color;
                box-shadow: 5px 5px 2px $gray-color;
            }
     }

     @include breakpoint(1000px){
    
        position: fixed;
        width: 20%;
        height: 90%;    
        left: 25px;
        top: 15px;
        overflow: auto;


     }
}
         

.navLi a {

    
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    margin: 25px 10px;
    background-color:$green-color;
    text-align:center;
    border-radius: $radius-default;
    border: 3px solid $gray-color;
    color: $creme-color;
    box-shadow: 5px 5px 2px $gray-color;

    
}

.navLi a:hover {
    background-color: $orange-color;
color: white;
}

header{
    background-image: url('images/pile2.png');
    // background-color: $blue-color;
    color: $creme-color;
    width: 95%;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: $radius-default;
    @include grid-row();
    border: 10px solid $green-color;
    

    h1{
        @include grid-column(5);
        font-size: 2.25em;
        text-align: center;
        background-color: $blue-color;
        margin-left: 50px;
        border-radius: $radius-default;
        border: 5px solid $gray-color;
    }

  #login{
        @include grid-column(6.5);
        padding: 8px 16px;
        margin: 5px 10px;
        float: right;
         background-color:$orange-color;
        text-align:center;
        border-radius: $radius-default;
        border: 3px solid $gray-color;
        color: $creme-color;
        font-family: $primary-font;
        width: 15%;

         
}
    
}

#login:hover, #create:hover {
             background-color: $green-color;
             color: white;
}


         

