<form>
    <input type="text" name="userName" ng-model="myForm.userName"> User Name <br/>
    <input type="text" name="password" ng-model="myForm.password"> Password <br/>
    <button id = "login">login</button>
    <button id = "create">new account</button>
</form>


<!--<form role="form" ng-submit="controller.login()">
    <div class="form-group">
        <label for="username">Username:</label> <input type="text"
            class="form-control" id="username" name="username" ng-model="controller.credentials.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
            class="form-control" id="password" name="password" ng-model="controller.credentials.password"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>-->

