<div id="partiesPage">

    <h1>Interested in a Camp Blip Birthday Party?</h1>

    <section id="partyInfo">
        <p>Marshall and a member of his counselor staff will organize 2 hours of Lego fun for your child and his/her friends.</p>

        <h2>What's Included?</h2>
        <ul>
            <li>A variety of sets based on your child's theme preferences</li>
            <li>(An average of 2 sets per attendee)</li>
            <li>Large tub of Legos for "free build"</li>
            <li>Custom keepsake party catalog that includes the available party sets</li>
        </ul>
        <h2>Pricing</h2>
        <ul>
            <li>$100 for up to 10 children</li>
            <li>$10 per child over 10 attendees</li>
            <li>Maximum of 20 children</li>
    </section>

    <section id="bookParty">
        <h2>How Do I Book a Party?</h2>
        <p>Contact Info Here</p>
    </section>

    <img id = "partyPicOne" src="/images/baylor.png">
    <img id = "partyPicTwo" src="/images/carter.png">



</div>