
<!--make that grid row-->
<!--header is 12 and li is 6 each-->

<div id="partsPage">
    <section id="partHeader">
        <h1 class="partsHead">Parts Inventory List</h1>
        <h3> {{ partSet.setName }} </h3>
    </section>

    <!--<input class='checkAll' type="checkbox" label="Check All">-->

    <ul id="partList">
        <li class="onePart" ng-repeat="part in parts">
            <input class="complete" type="checkbox">
            <input class="num" type="number">

            <div class="partPic">
                <img class="partPic" ng-src="{{ part.photo }}">
            </div>

            <div class="partInfo">
                <p>  {{ part.name }} </p>
                <p> {{ part.color }} </p>
                <p> Need: {{ part.invQuantity }}</p>
                <p> #{{ part.id }} </p>
            </div>
        </li>
    </ul>
</div>