<section id="counselorPage">

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/Marshall.png">
    </section>
    <section class="counselorInfo">
        <h2>Marshall (14) - Charlotte Latin School</h2>
        <p>When I was nine, I attended a professional Lego camp at a local school. 
            I told my mom that they weren't doing anything we couldn't do at our own house. 
            That winter, we had our first camp session, a two-day holiday camp in December. With my mom's help, 
            we organized the sets, created a catalog, designed t-shirts, and invited campers. 
            We now have grown into a summer camp with multiple sessions. I have learned how to employ and manage 
            people, budget, and more. We even donate some of our proceeds to charities 
            like Susan G. Komen and the Levine Children's Hospital. One of my favorite parts of running
            camp is watching campers come back every year.  Some have even become counselors.  My favorite
            Lego set is Frank Lloyd Wright's Robie House.</p>
    </section>
</section>

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/JackShaw.jpg">
    </section>
    <section class="counselorInfo">
        <h2>Jack (15)- Myers Park High School</h2>
        <p>I grew up as close friends with Marshall in elementary school. When he told me he wanted to start a Lego camp, I
            thought it was a great idea. I figured lots of kids would want to come because as a young child, I always loved
            building Legos in my family room. Camp b.l.i.p. is an awesome experience for any kid who enjoys Legos and wants
            to have lots of fun.</p>
    </section>
</section>


<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/John.png">
    </section>
    <section class="counselorInfo">
        <h2>John (15) - Fletcher School</h2>
        <p>Blah, blah, blah</p>
    </section>
</section>

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/Charlotte.png">
    </section>
    <section class="counselorInfo">
        <h2>Charlotte (13) - Charlotte Latin School</h2>
        <p>I joined Marshall's Lego camp 3 years after it started. When he first started the camp,
             all I wanted to do was be a counselor. I love building the Lego Friends sets and when 
             girls started going to b.l.i.p., I was even more excited to be a counselor. 
             My favorite Friends sets are the Dolphin Cruiser, Jungle Bridge Rescue, and Summer Caravan.</p>
    </section>
</section>

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/Charlie.png">
    </section>
    <section class="counselorInfo">
        <h2>Charlie (11) - Charlotte Latin School</h2>
        <p>I was always a big Lego person and when Marshall decided he was going to start a Lego camp, 
            I knew I needed to go. I was a camper for the first 2 camps. Then, when I was 10, I convinced 
            my brother to let me be a counselor. I love being around the campers and being able to do 
            something I really enjoy while I'm at it.</p>
    </section>
</section>



</section>