<section id="counselorPage">

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/Marshall2.jpg">
    </section>
    <section class="counselorInfo">
        <h2>Marshall - Charlotte Latin School</h2>
        <p>We started with a two-day camp over Christmas break and have grown 
            into a multi-week summer camp. We have donated money and lego sets 
            to charities like the Levine Children's Hospital and the Susan G. 
            Komen Foundation.</p>
    </section>
</section>

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/JackShaw.jpg">
    </section>
    <section class="counselorInfo">
        <h2>Jack - Myers Park High School</h2>
        <p>I grew up as close friends with Marshall in elementary school. When he told me he wanted to start a Lego camp, I
            thought it was a great idea. I figured lots of kids would want to come because as a young child, I always loved
            building Legos in my family room. Camp b.l.i.p. is an awesome experience for any kid who enjoys Legos and wants
            to have lots of fun.</p>
    </section>
</section>


<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/JackShaw.jpg">
    </section>
    <section class="counselorInfo">
        <h2>John - Fletcher School</h2>
        <p>Blah, blah, blah</p>
    </section>
</section>

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/Charlotte.jpg">
    </section>
    <section class="counselorInfo">
        <h2>Charlotte - Charlotte Latin School</h2>
        <p>Blah, blah, blah.</p>
    </section>
</section>

<section class = "counselorItem">
    <section class="counselorPic">
        <img src="/images/Charlie.png">
    </section>
    <section class="counselorInfo">
        <h2>Charlie - Charlotte Latin School</h2>
        <p>Blah, blah, blah.</p>
    </section>
</section>



</section>