<input id = "setNumber" type = "text" ng-model = "setNumber" placeholder = "Enter Set Number">
<button id = "add" ng-click="newSet(setNumber)">Add Set</button>
<p id = "confirmSet" ng-show= "newMovie.isRated"> You rated {{ newMovie.title}} {{ newMovie.stars }} star(s).</p>

<input id = "setId" type = "text" ng-model = "setId" placeholder = "Enter Unique Set ID">
<button id = "remove" ng-click="removeSet()">Remove Set</button>
<button id = "manage">Manage Set</button>

<input id = "newCamper" type = "text" ng-model = "newCamper" placeholder = "Enter Camper Name">
<input id = "campWeek" type = "text" ng-model = "weeks" placeholder = "Pick Camp Session">
<button id = "addCamper" ng-click="addCamper()">Add New Camper</button>

<p>Upon login, this will be the landing page for an admin</p>
<p>When click manage set, you get to set detail page</p>
<p>On detail page, can now edit on order input, needs inventory toggle</p>

