<section class="picSec">

    <img class="picBig" ng-src="{{ item.image }}">
    <a ui-sref="sets-page"><button class="backResult">Back</button></a>
    <a ui-sref="parts-page({ single: item.setId })"><button class="parts">Parts</button></a> 
    <a ui-sref="instructions-page({ single: item.setId })"><button class="instructions">Instructions</button></a>

</section>

<section class="stats">

    <div class="basicData">
        <h1 class="detailHead">{{item.setName}}</h1>
        <p> {{ item.theme }} {{ item.setNumber }}</p>
        <p> {{ item.pieces }} pieces </p>
        <p> {{ item.year }} </p>
        <p><span ng-class="{'color-green': item.status === 'AVAILABLE'}">{{ item.status }}</span></p>
    </div>

    <div class="invData">
        <p>Set ID: {{item.setId }} </p>
        <p>Last Inventory Date: {{ item.invDate }}</p>
        <p>Inventoried By: {{ item.invName }}</p>
        <p>Last Checked Out: {{ item.lastCheckout }}</p>
        <p>Inventory Status: {{ item.invStat }}</p>
        <p>Number of Pieces Missing: {{ item.missing }}</p>
        <p>Notes: {{ item.notes }}</p>
        <form name="myForm">
            <input name="newNote" class="newNote" type="text" ng-model="newNote" placeholder="Enter Note (max 200 char)" ng-maxlength="200">
            <h4 ng-show="!myForm.newNote.$valid">The note is too long</h4>
        </form>
        <select id="byStatus" ng-model="byStatus" ng-options="status for status in statusList"></select>
        <button class="updateSet" ng-click="updateSet(item)">Update Set Info</button>
    </div>

    <div class="admin">
        <!--<select id="camperList" ng-model="camperList" ng-options="camper for camper in campers"></select>-->
        <button class='check' ng-show="(item.status === 'AVAILABLE')" ng-click="checkToggle()">Check Out</button>
        <button class='check' ng-hide="(item.status === 'AVAILABLE')" ng-click="checkToggle()">Check In</button>
    </div>

</section>