<div id="partsPage">
    <section id="partHeader">
        <button id="finalSave" ng-click="finalQty(partSet.setId)">Inventory Complete</button>
        <h1 class="partsHead">Parts Inventory List</h1>
        <h3> {{ partSet.setName }} </h3>
    </section>


    <p><input id='checkAll' type="checkbox" ng-model="selectedAll" ng-click="checkAll()"> Check All</p>

    <ul id="partList">
        <li class="onePart" ng-repeat="part in parts">
            <section class="partDisplay">
                <div class="partBoxes">
                    <input class="complete" type="checkbox" ng-change="changeQty(partSet.setId, part)" ng-model="part.Selected">
                    <input class="num" type="number" ng-change="sendQty(partSet.setId, part)" ng-model="part.currInv">
                    <p>{{ part.setQty }}</p>
                </div>

                <div class="partPic">
                    <img class="partPic" ng-src="{{ part.partUrl }}">
                </div>

                <div class="partInfo">
                    <p class="partName"> {{ part.name }} </p>
                    <p> {{ part.color }} </p>
                    <p> Need: {{ part.setQty }}</p>
                    <p> #{{ part.elementId }} </p>
                </div>
            </section>
        </li>
    </ul>
</div>