<!--make that grid row-->
<!--header is 12 and li is 6 each-->

<div id="partsPage">
    <section id="partHeader">
        <button id="inProgress">Save in Progress</button>
        <button id="finalSave">Inventory Complete</button>
        <h1 class="partsHead">Parts Inventory List</h1>
        <h3> {{ partSet.setName }} </h3>
    </section>

    <!--<input class='checkAll' type="checkbox" label="Check All">-->

    <ul id="partList">
        <li class="onePart" ng-repeat="part in parts">
            <section class="partDisplay">
                <div class="partBoxes">
                    <input class="complete" type="checkbox">
                    <input class="num" type="number">
                    <p>{{ part.invQty }}</p>
                </div>

                <div class="partPic">
                    <img class="partPic" ng-src="{{ part.partUrl }}">
                </div>

                <div class="partInfo">
                    <p class = "partName"> {{ part.name }} </p>
                    <p> {{ part.color }} </p>
                    <p> Need: {{ part.invQty }}</p>
                    <p> #{{ part.elementId }} </p>
                </div>
            </section>
        </li>
    </ul>
</div>