<div id="registerPage">

    <h1>2017 Session Dates and Rates</h1>

    <section id="weeks">
        <h2>Session One: June 12-15 (FULL)</h2>
        <h2>Session Two: July 10-13 (FULL)</h2>
        <h2>Session Three: August 14-17 (FULL)</h2>
    </section>

    <ul id="costInfo">
        <li>Camp hours are 9:00 - 12:00 Monday through Thursday.</li>
        <li>Campers are provided with a small snack and drink each day.</li>
        <li>Each camper receives a new, small Lego set to take home on Thursday.</li>
        <li>Cost is $125 per camper (sibling discount of $25 for the second camper).</li>
        <li>Please remember to sunscreen you child before sending him/her to camp!</li>
    </ul>

    <section id="register">
        <h1>Online registration opened on February 27th at 11:00 a.m.</h1>
        <h3>All sessions are now full. To add your name to the wait list, go to:</h3>
        <h3>https://campblipsummer2017.eventbrite.com</h3>

    </section>

    <img id = "registerPicOne" src="/images/charlieCamp.png">
    <img id = "registerPicTwo" src="/images/baylor.png">

</div>